/* reset */
:root{
    --arancione:#FF6900;
    --verde:#008000;
    --rosso:#FF0000;
    --grigio-scuro:#1A1A1A;
    --nero:#000000;
    --bianco:#ffffff;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  img {
    max-width: 100%;
  }