/* reset */
:root{
    --arancione:#FF6900;
    --verde:#008000;
    --rosso:#FF0000;
    --grigio-scuro:#1A1A1A;
    --nero:#000000;
    --bianco:#ffffff;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
  }
  a{
    text-decoration: none;
    color: var(--bianco);
  }
  a:hover{
    text-decoration: none;
    color: var(--bianco);
  }
  
  img {
    max-width: 100%;
  }

  .contenitore{
        width:70%;
        margin: 0 auto;   
  }
  /* header */
  header{
    position: fixed;
    z-index: 999;
    background-color: var(--arancione);
    width: 100%;
    
  }
  header img{
    height: 25px;
  }
  nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
header ul {
    display: flex;
    padding: 5px;
}
header li {
    padding: 10px;
}
/* sezione shop */
main{
    padding-top: 80px;
    display: flex;
    flex-wrap: wrap ;
}
.colonna{
        width: calc(100% / 3);
        padding: 10px;
        position: relative;
}
.scheda{

}
.imga{
    display: block;

}
.imgb{
 display: none;
}
.scheda:hover .imga{
    display: none;

}
.scheda:hover .imgb{
    display: block;

}
.sconto{
    position: absolute;
    bottom: 100px;
    background-color: var(--rosso);
    color: var(--bianco);
    height: 22px;
    width: 35px;
    text-align: center;
}
.sostenibilita{
    position: absolute;
    bottom: 100px;
    left: 55px;
    background-color: var(--verde);
    color: var(--bianco);
    height: 22px;
    width: 100px;
    text-align: center;
}
.cuore{
    position: absolute;
    top: 15px;
    right: 10px;
    background-color: var(--bianco);
    color: var(--nero);
    height: 30px;
    width: 30px;
    text-align: center;
    padding-top: 6px;
}
.sostenibilita2{
    background-color: var(--verde);
    color: var(--bianco);
    height: 22px;
    width: 100px;
    text-align: center;
    position: absolute;
    bottom: 100px;
}
.cuore:hover{
    color: var(--rosso);
}
.sovratitolo{
    font-size: 0.8rem;
    font-style: italic;
}
h2{
    font-size: 1rem;
}
.scontato{
    color: var(--rosso);
    font-size: 0.9rem;
    font-weight: bold;
}
.vecchioprezzo{
    color: var(--nero);
    font-size: 0.9rem;
    font-weight: bold;
    text-decoration: line-through;
}
.prezzo{
    color: var(--rosso);
    font-size: 0.9rem;
    font-weight: bold;
}
/* footer */
footer{
    background-color: var(--grigio-scuro);
    padding-top: 15px;
    height:150px;
}
h3{
    font-size: 2rem;
    font-weight: bold;
    color: var(--bianco);
}
.divisore-footer{
    display: flex;
    justify-content: space-between;
}
.destra{
 
}
.sinistra{
    display: inline-block;
}
h4{
    font-size: 1rem;
    font-weight: bold;
    color: var(--bianco);
}
li {
    float: left;
    list-style-position: initial;
}
ul li {
    margin: 5px;
  }